{% extends "base.twig" %}
{%block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-info">


        <div class="container">
<h1 class="display-3">BIENVENIDO!</h1>

            <p>Sistema de aprendizaje CICS vs RISC.</p>
            <p>
    </div>
   <img src = "res/imagenes/img1.jpg"/> 
{% endblock %}